* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
nav {
    /* border: 1px solid; */
    background-color: orange;
}

a {
    color: inherit;
    text-decoration: none;
}

header{
    background-color: orange;
    position: fixed;
    width: 100%;
}

header h1 {
	float: left;
	padding:15px 0;
	color: #261900;
}
header ul {
	float: right;
}
header ul li {
	display: inline-block;
}
header ul li a {
	padding:25px 20px;
	display: inline-block;
}
header ul li a:hover {
	background-color: #fff;
	color: #946000;
}
.active {
	background-color: #fff;
	color: #946000;
}

.banner {
    /* padding-top: 25px; */
    /* margin-top: 15px; */
    height: 60vh;
    /* border: 1px solid; */
    background-image: url(assets/banner1.png);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.banner::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(247, 255, 127, 0.3); */
}

section {
    padding: 50px 0;
}

section h3 {
    text-align: center;
    padding: 20px 0;
    color: #946000;
    margin-bottom: 25px;
    font-weight: bold;
}

.container {
    width: 80%;
    margin: 0 auto;
    /* z-index: 1; */
    /* border: 1px solid; */
}

.container::after{
    content: '';
    display: block;
    clear: both;
}

.profile {
    margin-left: 8%;
    margin-top: 15%;
}

.profile h1 {
    font-size: 50px;
    color: #000000;
    margin-bottom: 20px;
}

span {
    color: orange;
}

.profile p{
    color: #555;
    line-height: 22px;
}

.profile a{
    background: orange;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    z-index: 2;
}


.about,
.portfolio {
    padding-bottom: 100px;
}

.portfolio {
    background-color: #f9f9f9;
}

.about p {
    color: #666;
    word-spacing: 2px;
    line-height: 25px;
    margin-bottom: 20px;
    /* text-align: center; */
}

.box {
    /* border: 1px solid; */
    color : #946000
}

.box::after{
    content: '';
    /* display: block; */
    clear: both;
}

.box .col-4{
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    /* border: 1px solid; */
    text-align: center;
    float: left;
}

.icon {
    width: 70px;
    height: 70px;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    margin: 0 auto;
}

.box .col-4 h4 {
    margin: 20px 0;
}

 footer {
    padding: 30px 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    bottom: 0;
    /* position: fixed; */
    /* width: auto; */
 }

 .label {
    /* border: 1px solid; */
    background-color: #fcd896;
    color: #946000;
    height: 25px;
 }

.label .labeltext {
    margin-top: 35px;
    font-size: 16px;
 }

 .portfolio .container .progress {
    text-decoration: blink;
    color: red;
    /* animation: blink-animation 1s steps(5, start); */
    animation: blink 1s linear infinite;
 }

 .about .container .progress {
    text-decoration: blink;
    color: red;
    /* animation: blink-animation 1s steps(5, start); */
    animation: blink 1s linear infinite;
 }

 @keyframes blink{
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
}